/* 
Form Styling sheet"
Creator: Andre Blankholm
Date Created: 3/11/2020
Last day modified:03/13/2020
*/


Label, feild-set {
	font-size: 1.1em;
}

input[type=text] {
	border: 2px solid #0d1f2d;
	width: 50%;
	padding: 8px 8px;
	margin: 12px 0;
	box-sizing: border-box;
	font-size: 1em;
}

fieldset {
	background-color: #fef9ff;
	width: 100%;
	padding: 12px 20px;
	margin:12px 0px;
	box-sizing: border-box;
}

select,textera {
	margin:12px 0px;
	font-size: 1em;
}
input[type=submit] {
	font-size: 1.2em;
	background-color: #546a7b;
	color: #fef9ff;
	padding: 4px 8px;
}
input[type=submit]: hover {
background-color: #f2eded;
color: #546a7b;	
}
textarea {
	width: 100%;
	height: 200px;
	margin: 12px opx;
	box-sizing: border-box;
	border:2px solid #0d1f2d;
	border-radius: 3px;
	background-color: #fff;
	resize: none;
}